# System
PUID=1000
PGID=1000
TZ=Europe/Madrid
INSTANCE_PREFIX=newm
# Database
DB_NAME=newm
DB_USER=newm
DB_USER_PASS=
DB_ROOT_PASS=
MARIADB_CONFIG=
# Storage
DATA_LOCATION=
TEMP_LOCATION=
CONFIG_LOCATION=
LOGS_DIR=
# Traefik
TRAEFIK_ROUTER_NAME=newm
TRAEFIK_DOMAIN=newm.yourdomain.com
TRAEFIK_CERT_RESOLVER=cloudflare
