# System
PUID=1000
PGID=1000
TZ=Europe/Madrid
# Traefik
TRAEFIK_CERT_RESOLVER=cloudflare
AUTHELIA_DOMAIN=auth.yourdomain.com
# Authelia secrets
JWT_SECRET=
SESSION_SECRET=
ADMIN_PASSWORD=
STORAGE_ENCRYPTION_KEY=
# Storage
DATA_DIR=
LOGS_DIR=
