# n8n settings
DOMAIN_NAME=yourdomain.com
SUBDOMAIN=n8n
GENERIC_TIMEZONE=Your/Timezone
N8N_HOST=n8n.yourdomain.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.yourdomain.com/
N8N_GENERIC_TRIAL_MESSAGE_ENABLED=false
N8N_RUNNERS_ENABLED=true

# Database connection
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=

# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=

# Traefik
TRAEFIK_ROUTER_NAME=n8n
TRAEFIK_DOMAIN=n8n.yourdomain.com
TRAEFIK_CERT_RESOLVER=cloudflare
