# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GRAFANA_DOMAIN=grafana.qtekfun.net

# Traefik
TRAEFIK_ROUTER_NAME=grafana
TRAEFIK_CERT_RESOLVER=cloudflare

# ntfy alerts
NTFY_USER=
NTFY_PASSWORD=
NTFY_ALERT_TOPIC=alerts-monitoring
