# System
PUID=1000
PGID=1000
TZ=Europe/Madrid

# Database
DB_NAME=newm
DB_USER=newm
DB_USER_PASS=
DB_ROOT_PASS=

# Storage paths
DATA_LOCATION=/home/note/media/nextcloud/data
TEMP_LOCATION=/home/note/media-temp

# Traefik
TRAEFIK_ROUTER_NAME=newm
TRAEFIK_DOMAIN=newm.qtekfun.net
TRAEFIK_CERT_RESOLVER=cloudflare
