# System
PUID=1000
PGID=1000
TZ=Europe/Madrid

# Database
DB_NAME=nextcloud
DB_USER=nextcloud
DB_USER_PASS=
DB_ROOT_PASS=

# Storage
DATA_LOCATION=/home/note/nextcloud/nextcloud/data

# Traefik
TRAEFIK_ROUTER_NAME=nxtc
TRAEFIK_DOMAIN=nxtc.qtekfun.net
TRAEFIK_CERT_RESOLVER=cloudflare
