# Immich version — keep as "release" per immich recommendation
IMMICH_VERSION=release

# Database
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Storage paths
UPLOAD_LOCATION=/mnt/immich
THUMBS_LOCATION=/mnt/immich-thumbs

# Traefik
IMMICH_DOMAIN=photos.qtekfun.net
TRAEFIK_ROUTER_NAME=photos
TRAEFIK_CERT_RESOLVER=cloudflare
