# System
PUID=1000
PGID=1000
TZ=Europe/Madrid
# AirVPN WireGuard credentials
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=
# Server selection
VPN_SERVER_COUNTRIES=Netherlands
# LAN subnet for kill-switch exception
LAN_SUBNET=192.168.188.0/24
# qBittorrent WebUI port
QBIT_WEBUI_PORT=8090
# Storage
DATA_DIR=
