# Version
IMMICH_VERSION=release
# Database
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
# Traefik
IMMICH_DOMAIN=photos.yourdomain.com
TRAEFIK_ROUTER_NAME=photos
TRAEFIK_CERT_RESOLVER=cloudflare
# Storage
DATA_DIR=
LOGS_DIR=
