# System
PUID=1000
PGID=1000
TZ=Europe/Madrid
# Traefik
TRAEFIK_ROUTER_NAME=dash
TRAEFIK_DOMAIN=dash.yourdomain.com
TRAEFIK_CERT_RESOLVER=cloudflare
# Homepage
HOMEPAGE_ALLOWED_HOSTS=dash.yourdomain.com
# Storage
DATA_DIR=
# API keys (add as needed)
PORTAINER_API_KEY=
HOMEPAGE_VAR_PROXMOX_PASSWORD=
HOMEPAGE_VAR_NEXTCLOUD_P_ASSWORD=
