# Traefik
TRAEFIK_CERT_RESOLVER=cloudflare
GUACAMOLE_DOMAIN=remote.yourdomain.com
GUAC_ROUTER_NAME=guacamole
# Database
GUAC_DB_NAME=guacamole_db
GUAC_DB_USER=guacamole_user
GUAC_DB_PASS=
# Storage
DATA_DIR=
