GF_SECURITY_ADMIN_USER='user'
GF_SECURITY_ADMIN_PASSWORD='pass'
GRAFANA_DOMAIN=grafana.domain.com

# Traefik
TRAEFIK_ROUTER_NAME=grafana
TRAEFIK_CERT_RESOLVER=resolver

NTFY_DOMAIN=ntfy.domain.com
NTFY_USER='user'
NTFY_PASSWORD='pass'
NTFY_ALERT_TOPIC=topic
NTFY_TOKEN=tk_token
