# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GRAFANA_DOMAIN=grafana.yourdomain.com
# Traefik
TRAEFIK_ROUTER_NAME=grafana
TRAEFIK_CERT_RESOLVER=cloudflare
# Alertmanager / ntfy
NTFY_DOMAIN=ntfy.yourdomain.com
NTFY_USER=
NTFY_PASSWORD=
NTFY_ALERT_TOPIC=
NTFY_TOKEN=
